*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1140px;
	margin: auto;
}
body{
	background: linear-gradient(to right, #654ea3, #eaafc8);
	height: 100vh;
}
.calculator-body{
	background: rgba(255,255,2550,0.65);
	width: 40%;
	margin: auto;
	padding: 30px;
}
.display{
	background: #fff;
    border: 1px solid #777575; 
	width: 100%;
	padding: 15px 5px;
	margin-bottom: 10px;
	border-radius: 5px
}
.element{
	text-align: center;
}
.element input{
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 5px;
}
.element input:focus{
	display: none;
}
.equal{
	background: #403bffd4;
	color: #fff;
}
.ac{
	background: #ff4f4fd4;
	color: #fff;
}